{% extends 'registration/base-home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="col-sm-12 col-xl-12">
    <div class="bg-while rounded h-100 p-4">
        <h6 class="mb-4">پروفایل</h6>
            <div class="card-body">
                <form class="uniForm" method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{form.old_password|as_crispy_field }}
                        </div>
                        <div class="col-6">
                        </div>
                        <div class="col-4">
                            {{form.new_password1|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{form.new_password2|as_crispy_field }}
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-outline-success m-2">ثبت اطلاعات</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}