{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>فراموشی رمز عبور</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
<link rel="stylesheet" href="{% static 'registration/login/rtl.css' %}">
<link rel="stylesheet" href="{% static 'registration/login/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="POST">{% csrf_token %}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					{{ form.email|append_attr:"class:login__input"|append_attr:"placeholder: ایمیل  کاربر" }}
				</div>
				<button class="button login__submit">
					<span class="button__text">ارسال لینک بازیابی</span>
					<i class="button__icon fas fa-chevron-left"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>رستوران کسری</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<!-- partial -->
  
</body>
</html>
